<div th:fragment="header">
    <div class="align-top">
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/">На главную</a>
            <a class="nav-link active btn-outline-secondary" aria-current="page" href="/record/add">Добавить запись</button>
            <a class="nav-link active btn-outline-secondary" href="/records">Список записей</a>
            <a class="nav-link active btn-outline-secondary" href="/tags">Список тегов</a>
        </nav>
    </div>
</div>